
</div>
<section>



<div class="footer-padding"></div>

  <div class="footer" id="footer">
    <a href="https://twitter.com/Deepesh17338931"><i class=" social-icon fab fa-twitter"></i></a>
<a href="https://www.facebook.com/"><i class="social-icon fab fa-facebook"></i></a>
<a href="https://www.instagram.com/"><i class=" social-icon fab fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/deepesh-kumar-49a192162/"><i class=" social-icon fab fa-linkedin-in"></i></a>

    <p>Made with ❤️ by Deepesh@992</p>
  </div>
</section>

</body>
</html>
