<%- include("partials/header"); -%>
    <h1>Education Details</h1>
    <h2>Thought:-</h2>
    <p> <%= aboutContent %> </p>
    <table cellspacing="20">
      <tr>
  <td>

  <img class="profile circular" src="../ran.png" alt="profile pic"></td>
  <td>

  <h1>Deepesh Kumar</h1>
  <p>
  5/16 arabarta clony fuljhore,durgapur, west bengal
  </p>
  <p>
    8210789459,9851207079
    </p>
    <p>
      deepeshraj992@gmail.com,deepeshraj994@gmail.com
    </p>
  </td>
  </tr>
  </table>
  <hr />
  <p>
  <b>Objective :</b>
  </p>
  <p>
  Seeking a challenging position in a technical organization where I could enhance my strength and skill with the institution's goals and achieve excellence through my fresher levels.
  </P>
  <hr />
  <p>
  Academic Qualification :
  </p>
  <ul>
  <li>
   Graduate: B-tech(information technology)
  <a href="http://bcrec.ac.in/" > Dr. B.C Roy Engineering College Durgapur fuljhore west bengal</a>
  <ul>
  <li>
    Marks: 7.5(D.G.P.A)|(2016-2020)
  </li>
  </ul>
  </li>
  </ul>
  <ul>
  <li>
    Secondary School:(10th) <a href="https://www.navodaya.gov.in/nvs/nvs-school/SITAMARHI/en/about_us/About-JNV/">jawahar navodaya vidyalaya khairvi sitamarhi </a>
  <ul>
  <li>
    Marks:9.6(C.G.P.A)|(2013)|(CBSE)
  </li>
  </ul>
  </li>
  </ul>
  <ul>
  <li>
    Higher School:(12th)<a href="http://www.hellensschool.in/">Hellens School Sitamarhi</a>
    <ul>
      <li>
        Marks:69.60%|2015|(CBSE)
      </li>
    </ul>
  </li>
  </ul>
  <hr />
  <p>
  Technical Skills:
  </p>
  <ul>
  <li>
    Languange Known:
    <ul>
      <li>
        corejava
      </li>
      <li>
        SQL
      </li>
      <li>
        Web Development(html,css,bootstrap,node.js,express,mongodb,ejs,react.js)
      </li>
    </ul>
  </li>
  <li>
  Subject Known:
  <ul>
  <li>
    Database Management System
  </li>
  <li>
    Networking
  </li>
  <li>
    Software Engineering
  </li>
  </ul>
  </li>
  </ul>
  <hr />
  <p>
  Software Tools:
  </p>
  <ul>
  <li>
    Textpad
  </li>
  <li>
    Notepad
  </li>
  <li>
    AtomS
  </li>
  </ul>
  <hr />
  <p>
  Vaccational Tranning:
  </p>
  <ul>
  <li>
    Project:"Online Banking System"(25 jun 19-25 jul 19)
    <ul>
      <li>
        Role: Database Administrator <a href="http://www.mitservices.net/">middleware information technologies pvt.ltd</a>
      </li>
    </ul>
  </li>
  </ul>
  <p>
  Hobbies:
  </p>
  <ul>
  <li>
    Cooking
  </li>
  <li>
    Basketball(game)
  </li>
  <li>
    Thinking Ideas
  </li>
  </ul>
  <hr />
  <P>
  Personal Information:
  </P>
  <ul>
  <li>
  Father's Name: Raghuveer Sharan Chaudhary(Farmer).
  </li>
  <li>
  Mother's Name: Sadhana Devi(Teacher),
  </li>
  <li>
  Date of Birth: 12-jan-1996.
  </li>
  <li>
  Gender: male.
  </li>
  <li>
  Nationality: Indian.
  </li>
  <li>
  Languange Known: English,Hindi.
  </li>
  </ul>
  <hr />
  <p>
  I hereby declare that above information is true to the best of my knowledge and belief.
  </p>
  <%- include("partials/footer"); -%>

  <table>

<%- include("partials/footer"); -%>
