<%- include("partials/header"); -%>

<div class="row">
  <div class="col-lg-4">
    <h1>About Me</h1>
    <p>
      I am an allround web developer. I am a programmer with good knowledge of front-end techniques. I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. Also I like
      working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.
    </p>

  </div>
  <div class="col-lg-4">
    <img class="title-imag" src="../ran.png" alt="profile-pic">
  </div>
  <div class="col-lg-4">
    <h2>Details</h2>
    <P>
      Name:
      Deepesh Kumar
    </P>
    <p>
      Age:
      24 years
    </p>
    <p>


      Location:
      "Sitamarhi,Bihar,Indian"
    </P>

  </div>
</div>




<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">Exprience</h2>
        <h2>I am fresher. currently searching job as Web  Developer.</h2>
        <p>
          My all details in Education Details folder.
          </p>
        <img class="testimonial-image" src="../ran.png" alt="dog-profile">

      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">College</h2>

        <p>
          Dr. B.C Roy Engineering College(2016-2020)
          <br>
          Branch : information technology
        </p>
        <h2>Location</h2>
        <p>West Bengal India</p>
        <img class="testimonial-image" src="https://media-exp1.licdn.com/dms/image/C560BAQEQU5cMRnKGVg/company-logo_200_200/0?e=2159024400&v=beta&t=PR8YQMAoiG2RmR-ZUnenA4NNAnpLByVLya7_louFUOE" alt="lady-profile">
      </div>
      <div class="carousel-item container-fluid">
        <h2>HighSchool</h2>
        <P>
          HELLENS SCHOOL(2013-2015)
          <br>
          Subject : Maths.
        </P>
        <h2>Location</h2>
        <p>
          Bihar India
        </p>
        <img src="https://www.missionsuccesshr.com/company_logos/hellens-school-sitamarhi-1568018509-325.jpg" class="testimonial-image" alt="...">
      </div>
      <div class="carousel-item container-fluid">
        <h2>Secondary School</h2>
        <p>
          Jawahar Navodaya Vidyalaya, Sitamarhi(2008-2013)
        </p>
        <h2>Location</h2>
        <p>
          Bihar India
        </p>
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f5/Jawahar_Navodaya_Vidyalaya_logo%2C_jnvlogo.jpg" class="testimonial-image" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>


<%- include("partials/footer"); -%>
